<div class="admin-form">
  <%= form_with model: @forced_rate, url: forced_rates_path, local: true do |form| %>
    <% if @forced_rate.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@forced_rate.errors.count, "ошибка") %> запрещают сохранение форсированного курса:</h2>
        <ul>
          <% @forced_rate.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>  
  
  <div class="form-group" style="width: 30%;">
      <%= form.label :rate, "Курс доллара" %>
      <%= form.text_field :rate, class: "form-control" %>
      <br>
      <%= form.label :until_time, "Время форсирования" %>
      <%= form.datetime_field :until_time, class: "form-control" %>
      <br>
      <%= form.hidden_field :archive, value: false %>
    </div>

    <%= form.submit "Форсировать", class: "btn btn-primary" %>
  <% end %>
</div>

 